{% extends 'base.html' %}

{% macro action_button(index) %}
{% set d = actions[index] %}
<a href="{{ d['uri'] }}" class="button">{{ d.text }}</a>
{% endmacro %}

{% macro link_list(items) %}
<ul class="board">
{% for d in items %}
{% set name_text = d['name_text'] %}
{% set description_text = d['description_text'] %}
{% set asset_uri = d['asset_uri'] %}
{% set video_uri = d['video_uri'] %}
<li>{% if asset_uri %}<a href="{{ asset_uri }}" target="_blank">{% endif %}{{ name_text }}{% if asset_uri %}</a>{% endif %}{% if name_text and description_text %}: {% endif %}{{ description_text }}{% if video_uri %} [<a href="{{ video_uri }}" target="_blank">video</a>]{% endif %}</li>
{% endfor %}
</ul>
{% endmacro %}

{% block head_html %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VP9T2V7B17"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag() { dataLayer.push(arguments); }
gtag('js', new Date());
gtag('config', 'G-VP9T2V7B17');
</script>
<title>{{ title_text }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ description_text }}">
<style>
body {
  word-wrap: break-word;
}
header {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
}
header > nav {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
h1 {
  font-size: xxx-large;
}
img {
  max-width: 100%;
}
.button {
  padding: 8px;
  border: 0;
  text-decoration: none;
  text-align: center;
  font-size: large;
  font-family: serif;
  background: #17A2F5;
  color: white;
  font-weight: bold;
}
.button:hover {
  cursor: pointer;
}
.board {
  list-style: none;
  padding: 0;
}
.board li:not(:last-child) {
  margin-bottom: 1em;
}
.form {
  max-width: 640px;
  margin: auto;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.form input {
  font-size: large;
}
.video {
  max-width: 100%;
}
#brand {
  height: 1.5em;
  max-width: 100%;
  transform: translate(0, -2px);
}
.folder > h2 {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.folder > div, .folder > ul {
  display: none;
}
</style>
{% endblock %}

{% block header_html %}
<nav>
<a href="{{ brand['asset_uri'] }}"><img id="brand" src="{{ brand['image_uri'] }}" loading="lazy"></a>
</nav>
<nav>
<a href="https://crosscompute.net">Automations</a>
</nav>
{% endblock %}

{% block main_html %}
<h1>{{ headline_text }}</h1>
<div>{{ pitch_html | safe }}</div>

<section class="folder">
<h2>Services</h2>
<div>{{ menu_html | safe }}</div>
</section>

<section class="folder">
<h2>Updates</h2>
{{ link_list(updates) }}
</section>

<section class="folder">
<h2>Contacts</h2>
<div>{{ contacts_html | safe }}</div>
</section>

<section class="folder">
<h2>Newsletters</h2>
<div>
<div id="newsletter-form" class="form">
<input id="v0" class="email_address" type="email" placeholder="you@example.com">
<button type="button" class="button">{{ automations[0].button_text }}</button>
</div>
</div>
</section>
{% endblock %}

{% block footer_html %}
<section class="folder">
<h2>Links</h2>
{{ link_list(links) }}
</section>

<section class="folder">
<h2>Achievements</h2>
{{ link_list(achievements) }}
</section>

<section class="folder">
<h2>Acknowledgments</h2>
{{ link_list(acknowledgments) }}
</section>

<img src="{{ assets[0].image_uri  }}" loading="lazy">
{% endblock %}

{% block body_js %}
document.querySelectorAll('.folder h2').forEach(l => {
  l.onclick = function() {
    const style = l.nextElementSibling.style;
    style.display = style.display == 'block' ? '' : 'block';
  }
});
const l = document.querySelector('#newsletter-form')
l.querySelector('button').onclick = function() {
  const d = {
    email_address: { value: l.querySelector('.email_address').value },
  };
  fetch('{{ automations[0].automation_uri }}.json', {
    method: 'POST',
    headers: {'Content-Type': 'application/json'},
    body: JSON.stringify(d)});
  l.innerHTML = 'Thank you for subscribing to our newsletter!';
};
{% endblock %}
