{% extends 'base.html' %}

{% macro link_list(items) %}
<ul class="board">
{% for d in items %}
{% set name_text = d['name_text'] %}
{% set description_text = d['description_text'] %}
{% set asset_uri = d['asset_uri'] %}
{% set video_slug = d['video_slug'] %}
{% set playlist_slug = d['playlist_slug'] %}
<li>{% if asset_uri %}<a href="{{ asset_uri }}" target="_blank">{% endif %}{{ name_text }}{% if asset_uri %}</a>{% endif %}{% if name_text and description_text %}: {% endif %}{{ description_text }}{% if video_slug %}<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_slug }}?listType=playlist&list={{ playlist_slug }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>{% endif %}</li>
{% endfor %}
</ul>
{% endmacro %}

{% block head_html %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VP9T2V7B17"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag() { dataLayer.push(arguments); }
gtag('js', new Date());
gtag('config', 'G-VP9T2V7B17');
</script>
<title>{{ title_text }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ description_text }}">
<style>
header {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
}
header > nav {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
main, footer {
  max-width: 768px;
  margin: auto;
}
h1 {
  font-size: xxx-large;
}
img {
  max-width: 100%;
}
iframe {
  border: 0;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.board {
  list-style: none;
  padding: 0;
}
.board li:not(:last-child) {
  margin-bottom: 1em;
}
.calendly-inline-widget {
  height: 600px;
}
@media (min-width: 666px) {
  .calendly-inline-widget {
    height: 740px;
  }
}
#brand {
  height: 1.5em;
  max-width: 100%;
  transform: translate(0, -2px);
}
</style>
{% endblock %}

{% block header_html %}
<nav>
<a href="{{ brand['asset_uri'] }}"><img id="brand" src="{{ brand['image_uri'] }}" loading="lazy" alt="CrossCompute Logo;"></a>
</nav>
<nav>
<a href="https://crosscompute.net">Runnable Tools</a>
</nav>
{% endblock %}

{% block main_html %}
<h1>{{ headline_text }}</h1>

<h2>{{ pitch_text }}</h2>

{{ pitch_html | safe }}

<h2>{{ action_text }}</h2>

{{ action_html | safe }}

{{ link_list(updates) }}
{% endblock %}

{% block footer_html %}
{{ link_list(links) }}
{% endblock %}
