<!DOCTYPE html>
<html>
<head>
{% block head_html %}
{% endblock %}
</head>
<body>
<header>
{% block header_html %}
{% endblock %}
</header>
{% block body_html %}
{% endblock %}
<footer>
{% block footer_html %}
{% endblock %}
</footer>
<script>
{% block body_js %}
{% endblock %}
</script>
</body>
</html>
