{% extends 'page.jinja2' %}

{% block body_html %}
<h1>Scripts to Products</h1>
<div class="introduction">CrossCompute trains researchers to turn their computational models into web-based products using the open source CrossCompute Analytics Automation System. We train analysts to turn spreadsheets, scripts, databases into decision support products that you can sell. Our mission is to inspire people to create products that improve health, safety, quality of life.</div>
<div class="content">
{% for post in CONFIGURATION['posts'] %}
<article>
<h2>{{ post['title'] }}</h2>
{{ post['description']['html'] | safe }}
</article>
{% endfor %}
</div>
{% endblock %}
