{% extends 'page.html' %}

{% block main_html %}
<section class="updates">
<h1>Add Widgets to Your Website</h1>
</section>

<section class="widgets">
<h2>Widgets</h2>
<div class="carousel">
{% for widget in widgets %}
  <article class="seat">
    <div>{{ widget['name'] }}</div>
    <div>{{ widget['description'] }}</div>
  </article>
{% endfor %}
</div>
</section>

<section class="websites">
<h2>Websites</h2>
<div class="carousel">
{% for website in websites %}
  <article class="seat">
    <div>{{ website['name'] }}</div>
    <div>{{ website['description'] }}</div>
  </article>
{% endfor %}
</div>
</section>

<section class="accomplishments">
CrossCompute publishes web-based tools and reports for planning infrastructure. Our reports help planners at electric utilities prioritize hazard mitigation projects. We specialize in benefit cost analysis tools for planning microgrids.

list accomplishments
</section>

<section class="thanks">
list thanks
</section>

<section class="links">
social media
</section>
{% endblock %}
