{% extends 'page.jinja2' %}

{% block body_html %}
<div class="introduction">CrossCompute helps companies build custom data collection, reporting and tracking systems without teams of engineers. CrossCompute Analytics Automation System and Support Services turn spreadsheets, scripts, databases into products that you can sell. Our mission is to inspire people to create products that improve health, safety, quality of life.</div>
<div class="content">
{% for post in CONFIGURATION['posts'] %}
<article>
<h2>{{ post['title'] }}</h2>
{{ post['description']['html'] | safe }}
</article>
{% endfor %}
</div>
{% endblock %}
