{% extends 'base.html' %}

{% block head_html %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VP9T2V7B17"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag() { dataLayer.push(arguments); }
gtag('js', new Date());
gtag('config', 'G-VP9T2V7B17');
</script>
<title>{{ title_text }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description_text" content="{{ description }}">
<style>
header {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
main {
  max-width: 640px;
  margin: auto;
}
button {
  padding: 8px;
  border: 0;
  font-size: large;
  width: 100%;
}
button:hover {
  cursor: pointer;
}
.action {
  background: #17A2F5;
  color: white;
  font-weight: bold;
}
.bar {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: space-between;
}
#brand {
  height: 1.5em;
}
#navigation {
  flex: 1;
  display: flex;
  gap: 8px;
  align-items: center;
}
#account {
  display: flex;
  gap: 8px;
}
</style>
{% endblock %}

{% block header_html %}
<nav id="navigation">
<a href="{{ brand['asset_uri'] }}"><img id="brand" src="{{ brand['image_uri'] }}" loading=lazy></a>
<a href=#pricing>Pricing</a>
</div>
<div id="account">
<a href="#updates">Updates</a>
<a href="#requests">Requests</a>
<a href="https://crosscompute.net">Automations</a>
</nav>
{% endblock %}

{% block main_html %}
<section id="pitch">
<h1>{{ headline_text }}</h1>
{{ pitch_markdown | safe }}
</section>

<section id="services">
<h2>Products and Services</h2>
{{ services_markdown | safe }}
</section>

<button class="action">{{ action_text }}</button>

<section id="pricing">
<h2>Pricing</h2>
{{ pricing_markdown }}
</section>

<section id="updates">
<h2>Updates</h2>
<ul>
{% for l in updates %}
<li><a href="{{ l['asset_uri'] }}">{% if l['name'] %}{{ l['name'] }}: {% endif %}{{ l['description'] | safe }}</a>{% if l['video_uri'] %} [video]({{ l['video_uri'] }}){% endif %}</li>
{% endfor %}
</ul>
</section>

<section id="requests">
<h2>Requests</h2>
<ul>
{% for l in requests %}
<li><a href="{{ l['asset_uri'] }}">{% if l['name'] %}{{ l['name'] }}: {% endif %}{{ l['description'] | safe }}</a>{% if l['video_uri'] %} [video]({{ l['video_uri'] }}){% endif %}</li>
{% endfor %}
</ul>
</section>

<button class="action">Subscribe to our monthly newsletter</button>

<section id="accomplishments">
<h2>Accomplishments</h2>
<ul>
{% for l in accomplishments %}
<li><a href="{{ l['asset_uri'] }}">{% if l['name'] %}{{ l['name'] }}: {% endif %}{{ l['description'] | safe }}</a>{% if l['video_uri'] %} [video]({{ l['video_uri'] }}){% endif %}</li>
{% endfor %}
</ul>
</section>

<section id="acknowledgments">
<h2><a href="#acknowledgments">Acknowledgments</a></h2>
<ul>
{% for l in acknowledgments %}
<li><a href="{{ l['asset_uri'] }}">{% if l['name'] %}{{ l['name'] }}: {% endif %}{{ l['description'] | safe }}</a>{% if l['video_uri'] %} [video]({{ l['video_uri'] }}){% endif %}</li>
{% endfor %}
</ul>
</section>
{% endblock %}

{% block footer_html %}
<section id="links">
<h2>Links</h2>
<ul>
{% for l in internal_links %}
<li><a href="{{ l['asset_uri'] }}">{{ l['name'] }}: {{ l['description'] }}</a>{% if l['video_uri'] %} [video]({{ l['video_uri'] }}){% endif %}</li>
{% endfor %}
</ul>
<ul class="bar">
{% for l in external_links %}
<li><a href="{{ l['asset_uri'] }}">{{ l['name'] }}</a></li>
{% endfor %}
</ul>
</section>

<section id="contact">
<h2>Contact</h2>
<p><a href="mailto:contact+opportunities@crosscompute.com">contact+opportunities@crosscompute.com</a></p>
</section>
{% endblock %}

{% block body_js %}
for (const x of document.querySelectorAll('section h2')) {
  x.innerHTML += '<a href="#" class="mobile">Top</a>';
}
document.querySelector('#acknowledgments h2 a').onclick = function() {
  this.parentNode.nextElementSibling.style.display = 'flex';
};
{% endblock %}
