{% extends 'page.jinja2' %}

{% block body_html %}
<h1>Hazard Mitigation Planning for Electric Cooperatives</h1>
<div class="job">
Prioritize Infrastructure Upgrades
</div>
<div class="outcomes">
<ul>
<li>Map incidents</li>
<li>Update plans</li>
<li>Expedite reviews</li>
</ul>
</div>
<div class="blurb">
Digitally Transform Your Co-op for Happier Customers
</div>
<div class="description">
Our vision is to help communities prepare for hazards, by connecting the best tools from researchers.
</div>
<div class="posts">
{% for post in CONFIGURATION['posts'] %}
<article>
<h2>{{ post['title'] }}</h2>
{{ post['description']['html'] | safe }}
</article>
{% endfor %}
</div>
{% endblock %}
