{% extends 'page.html' %}

{% block main_html %}
<section class="updates">
<h1>Add Widgets to Your Website</h1>
</section>

<section class="widgets">
<h2>Widgets</h2>
Step 1: Choose widget.
<div class="carousel">
    <div class="seat">
        1
    </div>
    <div class="seat">
        2
    </div>
</div>
</section>

<section class="websites">
<h2>Websites</h2>
{#
{% for automation in CONFIGURATION['automations'] %}
<article>
<h3>{{ automation['name']['text'] }}</h3>
{{ automation['description']['html'] | safe }}
</article>
{% endfor %}
#}
</section>
{% endblock %}
