.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Cormorant;
  font-size: 50px;
  line-height: 44px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
}

.body {
  padding-top: 0px;
  background-color: #fff;
  font-family: 'Roboto Slab', sans-serif;
  color: #000;
  font-weight: 400;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.titlelogo {
  width: 400px;
}

.kashficontainer {
  max-width: 1100px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px none #fff;
}

.kashficontainer.topcontainer {
  margin-top: 0px;
  margin-bottom: 0px;
}

.kashficontainer.kashficurrentprojectsectioncontainer {
  margin-top: 100px;
}

.kashficontainer._3rdcontainer {
  margin-top: 100px;
}

.kashficontainer._4thcontainer {
  margin-top: 100px;
}

.kashficontainer.footercontainer {
  margin-top: 100px;
}

.bigh1.secondh1 {
  text-shadow: none;
}

.bigh1 {
  display: block;
  margin-top: 10px;
  padding-top: 0px;
  font-size: 70px;
  line-height: 60px;
  text-shadow: none;
}

.kashfiheroheading {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  background-color: transparent;
  opacity: 1;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: -1px 0 0 #f6c900;
}

.kashfigrid {
  margin-top: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  opacity: 1;
}

.kashfivaluesdiv {
  padding-left: 15px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-right: 1px solid #fff;
}

.kashfivaluesdiv.lastbox {
  border-right-style: none;
}

.grid-2 {
  margin: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block {
  line-height: 20px;
  font-weight: 300;
}

.kashfigridforcurrentproject {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image {
  opacity: 1;
}

.kashfinowimage {
  margin: 10px;
}

.kashfinowtext {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.kashfitextblock {
  margin: 0px 10px 20px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-size: 14px;
  line-height: 20px;
}

.calltoact {
  margin: 0px 0px 0px 10px;
  border-radius: 20px;
  background-color: #ec383b;
}

.calltoact.scheduleacall {
  background-color: #3856ec;
  color: #fff;
}

.calltoact.nabar {
  margin-left: 0px;
  border-radius: 20px;
}

.kashficalltoactiondivblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.kashficalltoactiondivblock.productsservices {
  margin-top: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.kashfisectionheading {
  font-family: 'Roboto Slab', sans-serif;
}

.kashfigrids {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.kashfigrids.productgrind {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  justify-items: stretch;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.kashfigrids.productgrind.industrygrid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.kashfiproductsquaredivblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.kashfiproductdescriptiontext {
  margin-top: 10px;
  margin-left: 10px;
}

.kashfproductheading {
  margin-left: 10px;
}

.image-2 {
  display: none;
  margin-left: 0px;
}

.heading-5 {
  margin-top: 60px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  font-family: 'Roboto Slab', sans-serif;
}

.kashfifootersection {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.kashfifooterflexcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.kashfifooterheading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.button {
  display: block;
  width: 80%;
  max-width: 100%;
  margin: 20px;
  border-radius: 20px;
  background-color: #9d00ff;
  text-align: center;
}

.calltoactions {
  display: block;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .kashficontainer.footercontainer {
    margin-top: 50px;
  }

  .kashfiheroheading {
    margin-top: 0px;
  }

  .kashfivaluesdiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .text-block {
    padding-right: 10px;
  }

  .kashfigridforcurrentproject {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .calltoact {
    text-align: center;
  }

  .kashficalltoactiondivblock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }

  .heading-3 {
    padding-right: 10px;
  }

  .kashfifootersection {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer-image {
    width: 90%;
    max-width: 100%;
  }

  .kashfifootercontactusdivblock {
    padding-right: 10px;
  }

  .div-block-3 {
    padding-right: 10px;
  }

  .kashfilinksdivblock {
    padding-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .kashficontainer {
    margin-top: 25px;
  }

  .kashficontainer.footercontainer {
    margin-top: 50px;
  }

  .bigh1 {
    margin-top: 0px;
    font-size: 40px;
    line-height: 37px;
  }

  .kashfiheroheading {
    margin-top: 5px;
    font-size: 30px;
    line-height: 30px;
  }

  .kashfivaluesdiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid-2 {
    margin: 10px 1px 1px;
  }

  .kashfigridforcurrentproject {
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
  }

  .calltoact {
    margin-top: 10px;
  }

  .kashficalltoactiondivblock {
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .kashfisectionheading {
    margin-top: 0px;
  }

  .kashfigrids.productgrind {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .kashfigrids.productgrind.industrygrid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .kashfiproductsquaredivblock {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .kashfifootersection {
    padding: 40px 20px;
  }

  .footer-image {
    max-width: 89%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    border-bottom: 0px none #000;
  }

  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .kashficontainer.footercontainer {
    margin-top: 50px;
  }

  .bigh1 {
    font-size: 30px;
    line-height: 30px;
  }

  .kashfiheroheading {
    margin-top: 0px;
    font-size: 20px;
    line-height: 20px;
  }

  .kashfigrid {
    display: none;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .kashfivaluesdiv {
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    border-right-style: none;
  }

  .kashfivaluesdiv.lastbox {
    border-bottom-style: none;
  }

  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .kashfigridforcurrentproject {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading-3 {
    text-align: center;
  }

  .kashfigrids.productgrind {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .kashfigrids.productgrind.industrygrid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .kashfifootersection {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .kashfifooterflexcontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .kashfifooterheading {
    margin-top: 20px;
  }

  .calltoactions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heading-6 {
    text-align: center;
  }

  .heading-7 {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  #imageBusinessWomanCoffee {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #currentProjectDescription {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #governmentAgenciesDivBlock {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #powerUtilitiesDivBlock {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #microGridDivBlock {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #electricalManufacturersDivBlock {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #newsOrganizationsDivBlock {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #technicalPublishersDivBlock {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
}
