body {
  font-family: 'Roboto', sans-serif;
  margin: 8px;
}
header, footer {
  display: flex;
  flex-wrap: wrap;
}
header {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
main {
  margin-bottom: 16px;
}
footer {
  align-items: end;
  justify-content: center;
}
a {
  text-decoration: none;
}
table {
  border-spacing: 1em;
}
ul {
  list-style: none;
  padding: 0;
}
nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 32px;
  margin: 0;
}
header ul {
  align-items: center;
}
footer ul {
  align-items: end;
}
h1 {
  text-align: center;
}
article {
  background: aliceblue;
  padding: 16px;
  break-inside: avoid;
  filter: drop-shadow(0 0 8px lightgray);
}
article + article {
  margin-top: 32px;
}
article > h3 {
  margin: 0 0 0.5em 0;
}
.brand {
  max-width: 180px;
}
.outcomes {
  text-align: center;
  margin-bottom: 32px;
}
.outcomes ul {
  font-size: x-large;
}
.outcomes li:not(:last-child) {
  margin-bottom: 16px;
}
.description {
  text-align: center;
  margin-bottom: 32px;
}
.posts {
  column-gap: 32px;
}
.fa-brands {
  color: gray;
}
@media screen and (max-width: 208px) {
  .brand {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .posts {
    column-count: 2;
  }
}
@media only screen and (min-width: 900px) {
  .posts {
    column-count: 3;
  }
}
@media only screen and (min-width: 1200px) {
  .posts {
    column-count: 4;
  }
}
