:root {
  --body-margin: 8px;
  --horizontal-article-count: 3;
  --horizontal-content-gap: 32px;
  --vertical-content-gap: 32px;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: var(--body-margin);
}
header, footer {
  display: flex;
  flex-wrap: wrap;
}
header {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
main {
  margin-bottom: 16px;
}
footer {
  align-items: end;
  justify-content: center;
}
a {
  text-decoration: none;
}
table {
  border-spacing: 1em;
}
ul {
  list-style: none;
  padding: 0;
}
nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 32px;
  margin: 0;
}
header ul {
  align-items: center;
}
footer ul {
  align-items: end;
}
h1 {
  text-align: center;
}
.brand {
  max-width: 180px;
}
.outcomes {
  text-align: center;
  margin-bottom: 32px;
}
.outcomes ul {
  font-size: x-large;
}
.outcomes li:not(:last-child) {
  margin-bottom: 16px;
}
.description {
  text-align: center;
  margin-bottom: 32px;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--vertical-content-gap) var(--horizontal-content-gap);
}
.fa-brands {
  color: gray;
}
/* max-width = brand-width + body-margin * 2 */
@media screen and (max-width: 208px) {
  .brand {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .posts > article {
    max-width: calc((100% - var(--body-margin) * 2) / var(--horizontal-article-count) - var(--horizontal-content-gap) / 2);
  }
}
