html {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
}

.video {
  flex-shrink: 0;
}

.button {
  font-size: x-large;
  font-weight: bold;
  border: 0;
  background-color: #448cd2ff;
  color: white;
  cursor: pointer;
  padding: 1em;
  transform: rotate(0deg);
}

.button:hover {
  transform: rotate(5deg);
}
